{% extends "base.html" %}
{% block content %}
<article class="w3-content">
  <header class="w3-container">
    <h1>Archive for {{ SITENAME }}</h1>
  </header>
  <div class="w3-container">
    <section>
      <ul>
      {% for article in dates %}
        <li><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time> - <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
      {% endfor %}
      </ul>
    </section>
  </div>
</article>
{% endblock content %}