{% extends "base.html" %}
{% block content %}
<article class="w3-content w3-padding">
  <header class="w3-container">
    <h1>{{ article.title }}</h1>
    <div>
      <div class="w3-opacity w3-margin-right w3-margin-bottom">
        <span><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time> in <a href="{{ SITEURL }}/{{ article.category.url }}" title="All articles in category {{ article.category }}">{{ article.category }}</a></span>
      </div>
      {% if article.tags %}
      <div>
        {% for tag in article.tags %}
        <span class="w3-tag w3-light-grey w3-text-green w3-hover-green">
          <a href="{{ SITEURL }}/{{ tag.url }}" title="All articles with {{ tag.name.title() }} tag">#{{ tag }}</a>
        </span>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </header>
  {% if article.headerimage %}
  <div class="headerimage-article">
    <img src="{{ article.headerimage }}" style="width: 100%;">
    {% if article.headerimagecaption %}
      <p class="caption">{{ article.headerimagecaption }}</p>
    {% endif %}
  </div>
  {% endif %}

  <div class="col-main w3-container">
    <section id="content">
      {{article.content}}
    </section>
  </div>
  <footer>
    <div>
      <div class="w3-light-grey w3-border">
        <img class="w3-left" src="{{ AUTHOR_AVATAR }}" alt="Avatar" />
        <div class="w3-section w3-padding">
          <a href="{{ AUTHOR_WEB }}" class="w3-link-smooth w3-large">{{ article.author }}</a>
          <p class="">{% if article.author==AUTHOR %}{{ AUTHOR_DESCRIPTION }}{% endif %}</p>
        </div>
      </div>
    </div>
    {% if article.related_posts %}
    <div>
      <h2>Related posts:</h2>
      <ul>
        {% for related_post in article.related_posts %}
        <li><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </footer>
</article>
{% endblock content %}