<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <!-- Meta -->
    <meta name="description" content="{{ SITENAME }} &ndash; {{ SITESUBTITLE }}">
    <!-- Feed -->
    {% if FEED_ALL_ATOM %}
    <link rel="alternate" type="application/atom+xml" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link rel="alternate" type="application/rss+xml" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link rel="alternate" type="application/atom+xml" href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link rel="alternate" type="application/rss+xml" href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link rel="alternate" type="application/atom+xml" href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link rel="alternate" type="application/rss+xml" href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link rel="alternate" type="application/atom+xml" href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link rel="alternate" type="application/rss+xml" href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/website.css">
    <!-- Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ SITEURL }}/theme/img/hilda.png">
  </head>

  <body>
    <header>
      <nav class="w3-bar">
        <h1 class="w3-left w3-hover-green w3-padding-right"><a href="{{ SITEURL }}" title="Accueil" class="w3-link-smooth"><img width="92px" src="{{ SITEURL }}/theme/img/hilda.png" class="w3-cell-bottom" /><span class="w3-hide-small">PlayByMail.org</span></a></h1>
        {% for title, link in MENUITEMS %}
        <a href="{{ link }}" class="w3-bar-item w3-button w3-right w3-hover-green">{{ title }}</a>
        {% endfor %}
        {% for p in pages %}
        <a href="{{ SITEURL }}/{{ p.url }}" class="w3-bar-item w3-button w3-right w3-hover-green {%if p==page%}active{%endif%}">{{ p.title }}</a>
        {% endfor %}
      </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer class="w3-black w3-margin-top">
      <div class="w3-center w3-text-white w3-small w3-padding-24">
        <span><i class="fa-brands fa-creative-commons"></i> {{ MINIMALXY_START_YEAR }}{% if MINIMALXY_START_YEAR != MINIMALXY_CURRENT_YEAR %}-{{ MINIMALXY_CURRENT_YEAR }}{% endif %} {{ AUTHOR }}</span>
        {% if FEED_ALL_ATOM %}| <span><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}">Atom feed <i class="fa fa-rss" aria-hidden="true"></i></a></span>{% endif %}
        | <span><i class="fa-brands fa-python"></i> Powered by <a href="https://blog.getpelican.com/">Pelican</a></span>
      </div>
    </footer>
  </body>
</html>
