{% extends "base.html" %}
{% block content %}
<article class="w3-content">
  <header class="w3-container col-main">
    <h1>Catégories</h1>
  </header>
  <div class="w3-container">
    <section>
      <ul>
      {% for category, articles in categories %}
        <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }} ({{ articles|count }})</a></li>
      {% endfor %}
      </ul>
      <hr>
      {% for category, articles in categories %}
      <h2>{{ category }}</h2>
      <ul>
      {% for article in articles %}
        <li><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time> - <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
      {% endfor %}
      </ul>
      {% endfor %}
    </section>
  </div>
</article>
{% endblock content %}