{% extends "base.html" %}

{% block content %}
<section class="w3-content">
  {% for article in articles_page.object_list %}
  <div class="w3-padding-32">
  <article class="w3-container w3-card-2 w3-white">
    <header>
      {% if article.headerimage %}
      <div class="">
        <a href="{{ SITEURL }}/{{ article.url }}"><img src="{{ article.headerimage }}" style="width: 100%;"></img></a>
      </div>
      {% endif %}
      <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
      <div>
        <div class="w3-opacity w3-margin-right w3-margin-bottom">
          <span><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time> dans <a href="{{ SITEURL }}/{{ article.category.url }}" title="All articles in category {{ article.category }}">{{ article.category }}</a></span>
        </div>
        {% if article.tags %}
        <div class="w3-margin-right w3-margin-bottom">
          {% for tag in article.tags %}
          <span class="w3-tag w3-light-grey w3-small w3-text-green w3-hover-green">
            <a href="{{ SITEURL }}/{{ tag.url }}" title="All articles with {{ tag.name.title() }} tag">#{{ tag }}</a>
          </span>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </header>

    <div class="">
      {{ article.summary|striptags }}
    </div>

    <footer>
      <a class="w3-button w3-green w3-right" href="{{ SITEURL }}/{{ article.url }}">Read &#10093;</a>
    </footer>
  </article>
  </div>
  {% endfor %}

  {% if articles_page.has_other_pages() %}
  {% include 'pagination.html' %}
  {% endif %}
</section>
{% endblock content %}