{% extends "base.html" %}
{% block content %}
<article class="w3-content w3-card w3-padding">
  <header class="w3-container">
    <h1>{{ page.title }}</h1>
    <div>
      <div class="w3-opacity w3-margin-right w3-margin-bottom">
        {% import 'translations.html' as translations with context %}
        {{ translations.translations_for(page) }}
      </div>
    </div>
  </header>
  <div class="w3-container">
    <section>
      {{ page.content }}
    </section>
    {% if page.modified %}
    <br />
    <p>Last updated: {{ page.locale_modified }}</p>
    {% endif %}
  </div>
</article>
{% endblock content %}