{% extends "base.html" %}
{% block content %}
<article class="w3-content">
  <header class="w3-container col-main">
    <h1>Tags</h1>
  </header>
  <div class="w3-container">
    <section>
      <ul>
      {%- for tag, articles in tags|sort %}
        <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}<span class="w3-badge w3-small w3-margin-left w3-green">{{ articles|count }}</span></a></li>
      {% endfor %}
      </ul>
    </section>
  </div>
</article>
{% endblock content %}