@import "w3.css";
@import "all.min.css";

body, html {
  height: 100%;
  line-height: 1.8;
}

.w3-link-smooth {
  text-decoration: none;
}

.w3-bar .w3-button {
  padding: 16px;
}

.w3-padding-left {
  padding-left: 16px;
}

.w3-padding-right {
  padding-right: 16px;
}

.w3-padding-top {
  padding-top: 16px;
}

.w3-padding-bottom {
  padding-bottom: 16px;
}

